.main-container{
    display: flex;
    text-align: left;
    padding: 10px;
    background-color: #ecf0f1;
    justify-content: space-around;
}
.cart-container{
    min-height: 60vh;
    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    background-color:#95a5a6;
    padding: 10px;
}
.cart-container h3{
    color: #ecf0f1;
}
.cart-product{
    border: 2px solid #95a5a6;
    width: 100%;
    height: 220px;
    display: flex;
    background-color:white;
    margin: 5px;
}
.price-details{
    border: 2px solid  #bdc3c7;
    width: 20%;
    height: 400px;
    margin-top: 20px;
    padding-left: 20px;
    background-color: white;
}

.cart-img{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    margin: 5px;
    
   
}
.cart-img img{
    max-width: 80%;
    max-height: 80%;
   
    margin: auto;
}
.remove{
    width: 100px;
    background-color:#ecf0f1;
    border: none;
    padding: 5px;
    margin-top: 5px;
}
.cart-details{
    width: 60%;
}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 80px;
    margin-left: 10px;
  }
  
  .quantity-btn {
    /* padding: 10px; */
    width: 50px;
    height: 30px;
    border: none;
    font-size: large;
    color: #fff;
    cursor: pointer;
  }
  
  .quantity-value {
    font-size: 18px;
    margin: 0 10px;
  }
  #decrement{
    background-color: #c0392b;
  }
  #decrement:hover{
    background-color: #e74c3c;
  }
  #increment{
    background-color: #2ecc71;
  }
  #increment:hover{
    background-color:#27ae60;
  }
  
  .empty{
    width: 100%;
    text-align: center;
    font-size: large;
    color: #ecf0f1;
  }
  .price-details {
    background-color:#3498db;
    color: #ecf0f1;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .price-details h2 {
    font-size: 32px;
    /* color: #333; */
    margin-bottom: 20px;
  }
  
  .price-details p {
    font-size: 18px;
    /* color: #555; */
    margin: 8px 0;
  }
  
  .price-details button {
    background-color: #ff5722;
    color: #fff;
    padding: 15px 70px;
    margin-top: 50px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .price-details button:hover {
    background-color: #e64a19;
  }
  
  
  
  
  
  
  