
  
  .product-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .product-description {
    font-size: 0.9em;
  }
  
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  .add-to-cart-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  